#greeting {
position:absolute;
  left:400px;
  top:20px;
font-family:cursive;
  color:rgb(220, 20, 60);
  background-color:rgb(129, 205, 245);
}
#info {
position:absolute;
left:500px;
  top:90px;
  font-size:30px;
font-family:sans-serif;
  color:rgb(192, 192, 192);
  
  
}
