#greeting {
position:absolute;
  left:450px;
  top:30px;
font-family:cursive;
  color:rgb(220, 20, 60);
  background-color:rgb(78,78,78);
}
#info {
position:absolute;
left:60px;
  top:37px;
font-family:sans-serif;
  color:rgb(192, 192, 192);
  
  
}
